<table class="table table-hover clickable-row" >
    <thead>
        <tr>
        <th scope="col" style="width: 25%">Date & Time</th>
        <th scope="col" style="width: 25%">Location</th>
        <th scope="col" style="width: 25%">Host</th>
        <th scope="col" style="width: 25%">Sport</th>
        </tr>
    </thead>
    <tbody id="listofactivities">
        <% var i=1; eventList.forEach((elem) => { %>
            <tr name=<%= elem._id %> class="<%= elem.sport %>" data-href="/<%= elem._id %>">
                <td><%= (new Date( elem.eventDate)).toLocaleDateString("en-SG") %>, <%= (new Date( elem.eventDate)).toLocaleString("en-SG", {timeStyle: 'short'}) %></td>
                <td><%= elem.locationName %></td>
                <td><a href="/viewprofile/<%= elem.hostID %>" class="blacklink"><%= elem.hostName %></a></td>
                <td><%= elem.sport %></td>
            </tr>
            <% i++ ; %>
        <% }); %>
    </tbody>
</table>
