<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <div class="row ">
                <div class="text-center">
                    <img src="<%= picUrl %>" id="profilePic" class="">
                    <h1 class="fw-bold bottompad"><%= user %></h1>
                </div>

            </div>
            
            <h3 class="fw-bold">Your Activities</h3>
            <h3 class="">Hosting</h3>
            <%- include('partials/listofactivities'); %>
            <h3 class="">Joined</h3>
            <%- include('partials/listofactivitiesjoined'); %>
        </div>
        <div class="col-md-6 ">
        <%- include('partials/map') %>
        </div>      
    </div>
</div>
<%- include('partials/footer') %>