<%- include('partials/header-nonav') %>

  <div class="row text-center justify-content-md-center">
    <div class="col-xl-4 col-lg-6 col-md-8">
      
        <p class="font-weight-bold loginlogo" href="/signin">PlayPal <i class="fas fa-volleyball-ball"></i></p>
        <h1 class="h3 mb-3 fw-normal">Upload a profile pic!</h1>
    </div>
  </div>

<form class="form-signin" action="http://shaunntestbucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">  
<!-- <form class="form-signin" action="/uploadprofilepic" method="POST" enctype="multipart/form-data">   -->
  <div class="row text-center justify-content-md-center mb-4">
    <div class="col-xl-2 col-lg-3 col-md-4 align-self-center">
      <!-- <p class="mb-2" style="text-align:left;">Choose a Profile Picture</p> -->
      <input type="hidden"   name="key" value="profilepictures/<%= userid %>.jpg" />

      <input type="hidden"   name="X-Amz-Credential" value="<%= credential %>" />
      <input type="hidden"   name="X-Amz-Algorithm" value="<%= algorithm %>" />
      <input type="hidden"   name="X-Amz-Date" value="<%= date %>" />
      <input type="hidden"   name="Policy" value="<%= policy %>" />

      <input type="hidden"   name="X-Amz-Signature" value="<%= signature %>" />
      <input type="hidden"   name="success_action_redirect" value="http://localhost:4000/">
      <input name="file" type="file" class="form-control mb-2" id="floatingProfilePic" accept="image/gif, image/jpeg, image/png" title="Select a Profile Picture" onchange="readImg(this);">          
    </div>
  </div>
  <div class="row text-center justify-content-md-center mb-4">
    <div class="col-xl-2 col-lg-3 col-md-4">
      <img id="showProfilePic" style="border-radius: 100%;" src="#" alt="" />
    </div> 
  </div> 
  <div class="row text-center justify-content-md-center mb-4">
    <div class="col-xl-2 col-lg-3 col-md-4">
      <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Upload!</button>
    </div> 
  </div>
</form> 
<%- include('partials/footer') %>